[settings]
mapbox_access_token=
dataset_folder=/home/my_user/lbsn_group_recsys/datasets/parsed_dataset/
categories_file=/home/my_user/lbsn_group_recsys/datasets/parsed_dataset/analyze_merged/category_hierarchy_all.csv
remove_categories=College & University,Residence,Travel & Transport,States & Municipalities,Professional & Other Places,Event
analysis_folder=/home/my_user/lbsn_group_recsys/datasets/parsed_dataset/analyze_merged/
// cities1000.txt can be found in http://download.geonames.org/export/dump/
geonames_cities_file=/home/my_user/lbsn_group_recsys/OSM/cities1000.txt
geonames_filter_types=PPLC,PPLA
eps=1.5
min_sample=1
remove_nthile_from=6
filter_bots=True
filter_user_q_time=3
filter_user_q_distance=3
filter_group_q_time=3
filter_group_q_distance=3
filter_group_size=12
#Global datasets
[global_depth_2_3_merged]
dataset_folder=/home/my_user/lbsn_group_recsys/datasets/parsed_dataset/all_merged