*.pyc
venv/
baselines/*.log
*.log
data_collection/custom_config/
.idea/
*.out
icwsm_paper/lbsn_group_recsys.synctex.gz
icwsm_paper/lbsn_group_recsys.log
icwsm_paper/lbsn_group_recsys.fls
icwsm_paper/lbsn_group_recsys.fdb_latexmk
icwsm_paper/lbsn_group_recsys.blg
icwsm_paper/lbsn_group_recsys.bbl
icwsm_paper/lbsn_group_recsys.aux
icwsm_paper/lbsn_group_recsys.pdf
websci_paper/lbsn_group_recsys.synctex.gz
websci_paper/lbsn_group_recsys.log
websci_paper/lbsn_group_recsys.fls
websci_paper/lbsn_group_recsys.fdb_latexmk
websci_paper/lbsn_group_recsys.blg
websci_paper/lbsn_group_recsys.bbl
websci_paper/lbsn_group_recsys.aux
websci_paper/lbsn_group_recsys.pdf
websci_final_submission/latex/lbsn_group_recsys.synctex.gz
websci_final_submission/latex/lbsn_group_recsys.log
websci_final_submission/latex/lbsn_group_recsys.fls
websci_final_submission/latex/lbsn_group_recsys.fdb_latexmk
websci_final_submission/latex/lbsn_group_recsys.blg
websci_final_submission/latex/lbsn_group_recsys.bbl
websci_final_submission/latex/lbsn_group_recsys.aux
websci_final_submission/latex/lbsn_group_recsys.pdf